*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    padding: 10px;
    background-color: rgb(139, 139, 138);
}
.main{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

}
.card{
    height: 300px;
    width: 250px;
    background-image: url(https://i.pinimg.com/736x/33/d9/55/33d9557d7e34f7b48f976b7c50f572ba.jpg);
    border-radius: 20px;
    padding: 11px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.card img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.card button{
    height: 32px;
    width: 80px;
    border: none;
    border-radius: 20px;
    color: black;
    font-size: 15px;
    font-weight: 500;
    background-color: rgb(98, 144, 170);
    
}